/**
 * Filename: style.css
 * Authors: Yoshi Fu
 * Project: LoL Guesser Game
 * Date: October 2022
 *
 * Summary:
 * - [TODO]
 */

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("img/chip_landscape.png");
  background-size: cover;
  text-align: center;
}

button {
  color: #cdbe91;
  font-size: 1.5rem;
  font-weight: bold;
  background: linear-gradient(#0b1832, #0b1832) padding-box,
    linear-gradient(to top right, #af8939, #e7d371) border-box;
  border: 0.3rem solid transparent;
  border-radius: 1rem;
  padding-right: 1rem;
  margin: auto;
}

button:hover {
  background: linear-gradient(#05768c, #05768c) padding-box,
    linear-gradient(to top right, #af8939, #e7d371) border-box;
}

button img {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;
}

#app {
  color: #f7f9fb;
  width: fit-content;
  font-size: 1.5rem;
  text-align: center;
  margin: 2rem auto auto auto;
  background: linear-gradient(#1e2328, #1e2328) padding-box,
    linear-gradient(to top right, #af8939, #e7d371) border-box;
  border: 0.4rem solid transparent;
  border-radius: 1rem;
  padding: 1rem;
}

#navbar {
  margin-bottom: 1rem;
}

.active {
  background: linear-gradient(#07889a, #07889a) padding-box,
    linear-gradient(to top right, #af8939, #e7d371) border-box;
}

#game {
  display: none;
  border-style: none dashed none dashed;
  border-color: #e7d371;
  margin-bottom: 1rem;
  padding: 1rem;
}

#question {
  white-space: normal;
}

#question-clue {
  color: #969696;
}

#grid {
  display: inline-flexbox;
  flex-wrap: wrap;
  border: 0.3rem solid #03b9b5;
  border-radius: 1rem;
  margin: 1rem auto 1rem auto;
}

#restart {
  display: none;
  margin-top: 1rem;
}

#settings {
  display: none;
  text-align: left;
  padding: 2rem;
}

#settings input {
  width: 100%;
}

#footer {
  margin-top: 1rem;
  font-size: 0.8rem;
}

img {
  box-sizing: border-box;
  flex-grow: 1;
  width: 96px;
  border: 0.3rem solid transparent;
  border-radius: 1rem;
}

img:hover {
  border-width: 0.5rem;
}

img:not(.correct, .incorrect):hover {
  border-color: #05768c;
}

.correct {
  border-color: #007700;
}

.incorrect {
  border-color: #ff0000;
}

#gamemode {
  display: flex;
  justify-content: space-between;
}

label {
  display: inline-flex;
}

@media only screen and (max-width: 1000px) {
  body {
    background-image: none;
    background-color: #1e2328;
  }

  #app {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #game {
    border: none;
  }

  #grid {
    border: none;
  }

  img {
    width: 80px;
  }

  button {
    width: 100%;
  }
}
